@model ChatViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/css/chat.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
}

<div class="container-fluid chat-background h-100">
    <div class="row justify-content-center mt-2 ml-2 mr-2 h-100">
        <div class="col-3 chat">
            <div class="card contacts_card">
                <div class="card-header">
                    <div class="d-flex bd-highlight btn">
                        <div class="img_cont">
                            <img identicon-value="@Model.CurrentUser.UserName" class="rounded-circle user_img" width="60" height="60" alt="Identicon" />
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info align-self-center">
                            <span class="align-self-center">@Model.CurrentUser.FullName</span>
                        </div>
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <ul class="contacts">
                        @foreach (var item in @Model.AllUser)
                        {
                            <li onclick="userclick('@item.UserName')">
                                <div class="d-flex bd-highlight btn">
                                    <div class="img_cont">
                                        <img identicon-value="item.UserName" class="rounded-circle user_img" width="60" height="60" alt="Identicon" />
                                        <span class="@(item.Active?"online_icon":"offline")"></span>
                                    </div>
                                    <div class="user_info">
                                        <span>@item.FullName</span>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-9 chat">
            <div class="card" id="chatContainer">
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript">
        var receiver;
        $(function () {
            var userName = '@Model.CurrentUser';
            var allUsers = '@Model.AllUser';
            console.log(userName);
            var protocol = location.protocol === "https:" ? "wss:" : "ws:";
            var wsUri = protocol + "//" + window.location.host + "/home/getSocket";
            var socket = new WebSocket(wsUri);
            socket.onopen = e => {
                console.log("socket opened", e);
                var chObject = {
                    ChatId: Math.random().toString(36).substring(7),
                    SenderName:'@Model.CurrentUser.UserName',
                    ReceiverName: "Server",
                    Message: '@Model.Token',
                    MessageType: 0
                };
                socket.send(JSON.stringify(chObject));
            };

            socket.onclose = function (e) {
                console.log("socket closed", e);
            };

            socket.onmessage = function (e) {
                console.log(e);
                var obj = JSON.parse(e.data);
                if (obj.SenderName == receiver) {
                    appendChat(obj);
                }
            };

            socket.onerror = function (e) {
                console.error(e);
            };

            $('#MessageField').keypress(function (e) {
                if (e.which != 13) {
                    return;
                }
                e.preventDefault();
                sendMessage(socket);
            });
            $("body").on('click', '#sendButton', function(){
                console.log("Click");
                sendMessage(socket);
            });
        });

        function sendMessage(socket) {
            var message = $('#MessageField').val();
            $('#MessageField').val('');
            if (!message) return;
            var chObject = {
                ChatId: Math.random().toString(36).substring(7),
                SenderName:'@Model.CurrentUser.UserName',
                ReceiverName: receiver,
                Message: message,
                MessageType: 1
            };
            var data = JSON.stringify(chObject);
            console.log(data);
            socket.send(data);
            appendChat(chObject);
        }

        function userclick(username) {
            console.log(username);
            receiver = username;
            $.ajax({
                url: '@Url.Action("GetHistory", "Home")',
                data: { receivername: username },
                cache: false,
                success: function (html) {
                    $('#chatContainer').html(html);
                }
            });
        }

        function appendChat(chat) {
            $.ajax({
                url: '@Url.Action("GetChatView", "Home")',
                data: chat,
                cache: false,
                success: function (html) {
                    $('#messageContainer').append(html);
                }
            });
        };
    </script>
}


