@model ChatViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/css/chat.css" />
}

<div class="container-fluid">
    <div class="row justify-content-center mt-2 ml-2 mr-2 h-100">
        <div class="col-lg-3 col-md-4 chat">
            <div class="card contacts_card">
                <div class="card-header">
                    <div class="d-flex bd-highlight btn">
                        <div class="img_cont">
                            <img identicon-value="@Model.CurrentUser.UserName" class="rounded-circle user_img" width="60" height="60" alt="Identicon" />
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info align-self-center">
                            <span class="align-self-center">@Model.CurrentUser.FullName</span>
                        </div>
                    </div>
                </div>
                <div id="contact_container" class="card-body contacts_body">
                    <ul class="contacts">
                        @foreach (var item in @Model.AllUser)
                        {
                        <li id="@item.UserName" class="contacts-item">
                            <div class="d-flex bd-highlight btn">
                                <div class="img_cont">
                                    <img identicon-value="item.UserName" class="rounded-circle user_img" width="60" height="60" alt="Identicon" />
                                    <span class="@(item.Active?"online_icon":"offline")"></span>
                                </div>
                                <div class="user_info">
                                    <span>@item.FullName</span>
                                </div>
                            </div>
                        </li>
                        }
                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 chat">
            <div class="card" id="chatContainer">
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/jquery.perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script type="text/javascript">
        var receiver;
        var container;
        $(function () {
            var userName = '@Model.CurrentUser';
            var token = '@Model.Token';
            console.log(userName);
            new PerfectScrollbar("#contact_container");

            var protocol = location.protocol === "https:" ? "wss:" : "ws:";
            var wsUri = protocol + "//" + window.location.host + "/home/getSocket";
            var socket = new WebSocket(wsUri);
            socket.onopen = e => {
                console.log("socket opened", e);
                var chObject = {
                    ChatId: Math.random().toString(36).substring(7),
                    SenderName:'@Model.CurrentUser.UserName',
                    ReceiverName: "Server",
                    Message: token,
                    MessageType: 0
                };
                socket.send(JSON.stringify(chObject));
            };

            socket.onclose = function (e) {
                console.log("socket closed", e);
            };

            socket.onmessage = function (e) {
                console.log(e);
                var obj = JSON.parse(e.data);
                if (obj.SenderName == receiver) {
                    appendChat(obj);
                }
            };

            socket.onerror = function (e) {
                console.error(e);
            };

            $('#MessageField').keypress(function (e) {
                if (e.which != 13) {
                    return;
                }
                e.preventDefault();
                sendMessage(socket);
            });
            $("body").on('click', '#sendButton', function(){
                console.log("Click");
                sendMessage(socket);
            });

            $(".contacts-item").click(function () {
                receiver = $(this).attr("id");
                $.ajax({
                    url: '@Url.Action("GetHistory", "Home")',
                    data: { receivername: receiver },
                    cache: false,
                    success: function (html) {
                        $('#chatContainer').html(html);
                        if (container != null) {
                            container.destroy();
                            container = null;
                        }
                        const msg_cont = document.querySelector('#messageContainer');
                        container = new PerfectScrollbar(msg_cont);
                        msg_cont.scrollTop = msg_cont.scrollHeight;
                        container.update();
                        $(".contacts-item").removeClass("active");
                        $("#"+receiver).addClass("active");
                    }
                });
            })
        });

        function sendMessage(socket) {
            var message = $('#MessageField').val();
            $('#MessageField').val('');
            if (!message) return;
            var chObject = {
                ChatId: Math.random().toString(36).substring(7),
                SenderName:'@Model.CurrentUser.UserName',
                ReceiverName: receiver,
                Message: message,
                MessageType: 1
            };
            var data = JSON.stringify(chObject);
            console.log(data);
            socket.send(data);
            appendChat(chObject);
        }

        function appendChat(chat) {
            $.ajax({
                url: '@Url.Action("GetChatView", "Home")',
                data: chat,
                cache: false,
                success: function (html) {
                    $('#messageContainer').append(html);
                    if (container != null) {
                       const msg_cont = document.querySelector('#messageContainer');
                       msg_cont.scrollTop = msg_cont.scrollHeight;
                       container.update();
                    }
                }
            });
        };
    </script>
}


